<app-page-header [backButtonEnabled]="true" [loader]="!selectedItem">
  {{selectedItem.title}}
</app-page-header>

<ion-content>
  <ion-card>

    <ion-slides pager="true" [options]="slideOpts" *ngIf="selectedItem?.images">
      <ion-slide *ngFor="let image of selectedItem.images">
        <ion-img [src]="image | async" (click)="presentModal()"></ion-img>
      </ion-slide>
    </ion-slides>

    <ion-item>
      <ion-label><b>{{selectedItem.title}}</b> {{selectedItem.price}}$</ion-label>
      <ion-button fill="outline" slot="end" (click)="addToBasket(selectedItem)">В корзину</ion-button>
    </ion-item>

    <ion-card-content>
      {{selectedItem.description}}
    </ion-card-content>
    <ion-item>
      <ion-label>Опции товара</ion-label>
    </ion-item>
    <ion-card-content>
      <p *ngFor="let option of selectedItem.product_options">
        {{option.name}}
        <i>{{option.value}}</i>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
