<app-list-page class="flex-1">
  <app-page-header>
    Catalog
  </app-page-header>

  <ion-item *ngFor="let item of list" button (click)="selectItem(item)">
    <ion-thumbnail slot="start">
      <img *ngIf="item?.images && item.images[0]" [src]="item.images[0] | async">
    </ion-thumbnail>
    <ion-label>
      <h2>{{item.title}}</h2>
      <h3>{{item.date | date:'dd-MM-yyyy'}}</h3>
      <p>{{item.body}}</p>
    </ion-label>
  </ion-item>

</app-list-page>
