<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Корзина
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearStorage()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-sliding *ngFor="let item of products">
      <ion-item>
        <ion-thumbnail slot="start" (click)="selectItem(item)">
          <img *ngIf="item?.images && item.images[0]" [src]="item.images[0] | async">
        </ion-thumbnail>
        <ion-label text-wrap>
          <h2 (click)="selectItem(item)">{{item.title}}</h2>
          <h3>{{item.price}}</h3>
          <p>{{item.category}}</p>

          <ion-badge mode="ios" color="warning" (click)="deleteItem(item)">-</ion-badge>
          {{item.quantity}}
          <ion-badge mode="ios" (click)="addItem(item)">+</ion-badge>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Удалить</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</ion-content>

<ion-footer>
  <ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="end">
      <ion-button (click)="leaveRequest()" [disabled]="loader">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Оформить заказ</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="loader">Загрузка...</ion-title>
    <ion-title *ngIf="!loader">Итого: {{totalCost}}</ion-title>
  </ion-toolbar>



</ion-footer>


