<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!backButtonEnabled">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="backButtonEnabled">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ng-content></ng-content>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navigateToBasket()" *ngIf="!clearButtonEnabled">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <ion-badge color="danger" *ngIf="appService?.basketProductQuantity > 0">{{appService?.basketProductQuantity}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>