<ng-content select="app-page-header"></ng-content>

<ion-content>

  <ion-list>

    <ng-content select="ion-item"></ng-content>
    <ng-content select="ion-item-sliding"></ng-content>

  </ion-list>

  <ng-content></ng-content>


</ion-content>
