<ion-content fullscreen>
  <h1>Gallery</h1>
  <div>All images related to product</div>
  <ion-slides pager="true" [options]="slideOpts" *ngIf="images">
    <ion-slide *ngFor="let image of images">
      <ion-img [src]="image | async"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-button class="dismiss" (click)="dismiss()">Close</ion-button>
</ion-content>