<app-list-page class="flex-1">
  <app-page-header [loader]="!products?.length">
    Catalog
  </app-page-header>

  <ion-item>
    <ion-label>Категория</ion-label>
    <ion-select *ngIf="categories"
                [value]="selectedCategory"
                (ionChange)="selectChange($event)"
                ok-text="Okay"
                cancel-text="Dismiss">
      <ion-select-option [value]="''">Все</ion-select-option>
      <ion-select-option *ngFor="let option of categories" [value]="option.category">{{option.category}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item-sliding *ngFor="let item of products">
    <ion-item button (click)="selectItem(item)">
      <ion-thumbnail slot="start">
        <img *ngIf="item?.images && item.images[0]" [src]="item.images[0] | async">
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.title}}</h2>
        <h3>{{item.price}}</h3>
        <p>{{item.category}}</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>В корзину</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</app-list-page>
